
.c-weather_location {
    display: grid;
    grid-template: 1fr / repeat(auto-fit, minmax(280px, 420px));
    width: 100%;
    justify-content: center;
    grid-gap: 1rem;
}
@media screen and (max-width: 48rem) {
    .c-weather_location {
        overflow-y: initial;
    }
}